<p id="notice"><%= notice %></p>

	<div class="text-center mb-5">
	  <h2>SIMPLE TODO LISTS</h2>
	  <h5>FROM VALTER0FF FOR RUBYGARAGE</h5>
	</div>

	<div id="projects">
		<% @projects.each do |project| %>
				<%= render partial: 'project', locals: { project: project} %>
		<% end %>
	</div>

<div class="d-flex justify-content-center" id="new-project">
	<%= link_to new_project_path, data: { remote:true, toggle: 'modal' }, class:"btn m-4 p-2  font-weight-bold border-top 	border-secondary blue-gradient shadow"  do %>
		<i class="fa fa-plus px-1fa-white-shadow fa-dark-style"></i>
		<span class="mx-2 text-white text-dark-shadow" >Add TODO List</span>
	<%end%>
</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">	
    </div>
  </div>
</div>
